[Desktop Entry]
Type=Application
Name=Den Mail
Comment=Fastmail client for GNOME
Exec=den-mail
Icon=io.github.felsenuboot.DenMail
Terminal=false
Categories=Network;Email;GTK;
Keywords=mail;email;fastmail;jmap;den;
StartupNotify=true
MimeType=x-scheme-handler/mailto;
